{% extends "layouts/base.html" %}

{% block title %}
  სწრაფი ვიქტორინა - უმაღლესი შეფასება
{% endblock %}

{% block body %}
<div>
  <div class="d-flex justify-content-center align-items-center pt-5">
    <h1>უმაღლესი შეფასება</h1>
  </div>
  <div class="text-center mb-3">TOP 2 მომხმარებლები რომელთაც ყველაზე მაღალი ქულა აქვთ თითოეულ ვიქტორინაში:</div>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">მომხმარებელი</th>
        <th scope="col">ელ.ფოსტა</th>
        <th scope="col">ვიქტორინა</th>
        <th scope="col">დრო</th>
        <th scope="col">ქულა</th>
      </tr>
    </thead>
    <tbody>
      {% for score in top_scores %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ score.username }}</td>
          <td>{{ score.email }}</td>
          <td>{{ score.quiz_name }}</td>
          <td>{{ score.formatted_time }}</td>
          <td>{{ score.score }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex justify-content-center align-items-center">
    <a class="btn btn-primary" href="{{ url_for('main.index') }}">მთავარი გვერდი</a>
  </div>
</div>

{% endblock %}
